@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "UberMoveBold";
  src: url("assets/fonts/UberMoveBold.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "UberMoveMedium";
  src: url("assets/fonts/UberMoveMedium.otf") format("opentype");
  font-style: normal;
  font-display: swap;
}